<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--主应用程序名称，可设置值FittingRoom和ShoppingAssistant-->
    <add key="HomeUI" value="FittingRoom"/>
    
    <!--背景图片-->
    <add key="BackgroundImage" value="Resources/Images/Background.jpg"/>
    
    <!--三维动画屏显示多少张图片-->
    <add key="HomeAnimatePictureCount" value="20"/>
    <!--三维动画屏旋转一周需要的时间-->
    <add key="AnimateCircleDuration" value="30"/>
    
    <!--系统空闲自动返回三维动画屏时间(单位：秒)-->
    <add key="IdleDuration" value="20"/>
    
    <!--服务API调用地址和用户信息-->
    <add key="ServerAddress" value="http://115.28.47.101:10000/hdwapi/"/>
    <add key="UserName" value="mirrordev"/>
    <add key="Password" value="mirrordev"/>
    
    <!--<add key="ServerAddress" value="http://192.168.8.200:8080/hdwapi/"/>
    <add key="UserName" value="admin"/>
    <add key="Password" value="admin"/>-->

    <add key="ReaderSettings" value="Resources/ReaderSettings2.json"/>
    
    <!--声音文件-->
    <add key="SwitchSound" value="Resources/Sound/switch.wav"/>
    <add key="NotifySound" value="Resources/Sound/notify.wav"/>
    <add key="DingSound" value="Resources/Sound/ding.wav"/>
  </appSettings>
</configuration>