<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--主界面UI，可设置值FittingRoom和ShoppingAssistant-->
    <add key="HomeUI" value="FittingRoom"/>
    <add key="SwitchSound" value="Resources/Sound/switch.wav"/>
    <add key="NotifySound" value="Resources/Sound/notify.wav"/>
    <add key="DingSound" value="Resources/Sound/ding.wav"/>

    <add key="ServerAddress" value="http://115.28.47.101:10000/hdwapi/"/>
  </appSettings>
  
</configuration>